@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background: #003399;

}

.nav-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2rem;
    color: aliceblue;
    cursor: pointer;
}

.nav-search {
    width: 600px;
    height: 40px;
    position: relative;
}

.nav-txt-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.nav-btn-search {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 60px;
    height: 34px;
    background: #0066FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}


.nav-user {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #F85130;
}

var {
    width: 100%;
    height: auto;
    padding: 10px;
    background: var(--orange);

    display: flex;
    justify-content: center;
}

.var-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.var-top-container {
    display: flex;
}

.var-top-container li {
    list-style: none;
}

.var-top-container li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.affix+.container-fluid {
    padding-top: 70px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.btn-top {
    position: fixed;
    width: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}

.body-container {
    display: flex;
    max-width: 1200px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.bc-menu {
    width: 20%;
}

.bc-menu>h3 {
    font-weight: 500;
}

.bc-menu ul li {
    list-style: none;
}

.bc-menu ul li a {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    color: #333;
    cursor: pointer;
    transition: .3s ease;
}

.bc-menu ul li a:hover {
    background: #f7f7f7;
    color: var(--orange);
}

.bc-menu ul li:first-child a {
    border-top: 3px solid var(--orange);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/* contact */
body {
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

/* .container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.png") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
} */
.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("img/bg1.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

/* popup */
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: tranform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
    position: absolute;
    background: #f85130;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 12;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

div.figure {
    float: left;
    width: 25%;
    margin: 0.5em;
    padding: 0.5em;
}

div.figure p {

    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

img.scaled1 {
    width: 30%;
}

img.scaled2 {
    width: 70%;
}