@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background: #003399;

}

.nav-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2rem;
    color: aliceblue;
    cursor: pointer;
}

.nav-search {
    width: 600px;
    height: 40px;
    position: relative;
}

.nav-txt-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.nav-btn-search {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 60px;
    height: 34px;
    background: #0066FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}


.nav-user {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #F85130;
}

var {
    width: 100%;
    height: auto;
    padding: 10px;
    background: var(--orange);

    display: flex;
    justify-content: center;
}

.var-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.var-top-container {
    display: flex;
}

.var-top-container li {
    list-style: none;
}

.var-top-container li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.affix+.container-fluid {
    padding-top: 70px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.btn-top {
    position: fixed;
    width: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}

.body-container {
    display: flex;
    max-width: 1200px;
    height: 1000px;
    padding: 10px;
    margin: 0 auto;

}

.bc-menu {
    width: 20%;
}

.bc-menu>h3 {
    font-weight: 500;
}

.bc-menu ul li {
    list-style: none;
}

.bc-menu ul li a {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    color: #333;
    cursor: pointer;
    transition: .3s ease;
}

.bc-menu ul li a:hover {
    background: #f7f7f7;
    color: var(--orange);
}

.bc-menu ul li:first-child a {
    border-top: 3px solid var(--orange);
}

/* bc-shownews */
.bc-show {
    width: 80%;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(auto-fill, 305px);
    grid-gap: 20px;
}

.bc-show-items:hover {
    background: #0066FF;
}

.bc-show-items {
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    transition: .3s ease;
}

.bc-show-items-img {
    width: 100%;
    height: 200px;
}

.bc-show-items-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bc-show-items p {
    color: #333;
    overflow: hidden;
    height: 48px;
    line-height: 18px;
    padding: 10px;
}

.bc-show-items h5 {
    color: #333;
    font-size: 1rem;
    padding: 10px;
    text-align: end;
}


/* footer */
footer {
    position: absolute;
    background: #f85130;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 12;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

div.figure {
    float: left;
    width: 25%;
    margin: 0.5em;
    padding: 0.5em;
}

div.figure p {

    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

img.scaled1 {
    width: 30%;
}

img.scaled2 {
    width: 70%;
}